%h1.text-center


%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %section.team
    .container
      .row
        / .col-md-10.col-md-offset-1
        /   .col-lg-12
        %h2.description OUR TEAM
        .pt-md
          .owl-carousel
            .profile
              .row
                .col-lg-offset-3.col-lg-6
                  .img-box
                    %img.img-responsive{:src => image_path('kaitlin_600.jpg')}
                  %h2.text-center Kait Anderson
                  %h4.text-center Jr. Web Dev
                  %p.text-center Currently starring in my own reality show titled, A Modern Cinderella; One Girl’s Search for Love and Shoe.
                  %p.text-center
                    %a{href: "http://www.github.com/kande08", target: "_blank"}
                      %img.icon-link{:src => image_path('github-icon.png')}
                    |
                    %a{href: "http://www.linkedin.com/in/kande08", target: "_blank"}
                      %img.icon-link{:src => image_path('linkedin-icon.png')}
            .profile
              .row
                .col-lg-offset-3.col-lg-6
                  .img-box
                    %img.img-responsive{:src => image_path('david-hasselhoff-19.jpg')}
                  %h2.text-center David Hasselhoff
                  %h4.text-center The inspiration
                  %p.text-center I'm the Hoff - what more can I say?
                  %p.text-center
                    %a{href: "http://www.github.com/kande08", target: "_blank"}
                      %img.icon-link{:src => image_path('github-icon.png')}
                    |
                    %a{href: "http://www.linkedin.com/in/kande08", target: "_blank"}
                      %img.icon-link{:src => image_path('linkedin-icon.png')}    
            .profile
              .row
                .col-lg-offset-3.col-lg-6
                  .img-box
                    %img.img-responsive{:src => image_path('james_600.jpg')}
                  %h2.text-center James Yeates
                  %h4.text-center Jr. Web Dev
                  %p.text-center Born at a very young age. I have not lost my mind – it’s backed up on HD somewhere.
                  %p.text-center
                    %a{href: "http://www.github.com/jimibue", target: "_blank"}
                      %img.icon-link{:src => image_path('github-icon.png')}
                    |
                    %a{href: "http://www.linkedin.com/in/jimibue", target: "_blank"}
                      %img.icon-link{:src => image_path('linkedin-icon.png')}
            .profile
              .row
                .col-lg-offset-3.col-lg-6
                  .img-box
                    %img.img-responsive{:src => image_path('seth_600.jpg')}
                  %h2.text-center Seth Ellis
                  %h4.text-center Jr. Web Dev
                  %p.text-center A Caffeine dependent life-form of mystery and power, whose power is exceeded only by his mystery.
                  %p.text-center
                    %a{href: "http://www.github.com/mountains4breakfast", target: "_blank"}
                      %img.icon-link{:src => image_path('github-icon.png')}
                    |
                    %a{href: "http://www.linkedin.com/in/sethellis", target: "_blank"}
                      %img.icon-link{:src => image_path('linkedin-icon.png')}
            .profile
              .row
                .col-lg-offset-3.col-lg-6
                  .img-box
                    %img.img-responsive{:src => image_path('colin_600.jpg')}
                  %h2.text-center Colin Anderson
                  %h4.text-center Jr. Web Dev
                  %p.text-center Analogue at birth, digital by design. Buoyant, waggish, efficacious, indefatigable, demiurgic, convivial, self-made thousandaire.
                  %p.text-center
                    %a{href: "http://www.github.com/andercol4", target: "_blank"}
                      %img.icon-link{:src => image_path('github-icon.png')}
                    |
                    %a{href: "http://www.linkedin.com/in/andercol4", target: "_blank"}
                      %img.icon-link{:src => image_path('linkedin-icon.png')}
            .profile
              .row
                .col-lg-offset-3.col-lg-6
                  .img-box
                    %img.img-responsive{:src => image_path('barrie_600.jpg')}
                  %h2.text-center Barrie Brewer
                  %h4.text-center Scrum Coach
                  %p.text-center Reformed has-been, current wanna-be; a gifted narcoleptic; older than dirt.
                  %p.text-center
                    %a{href: "http://www.github.com/beardog1", target: "_blank"}
                      %img.icon-link{:src => image_path('github-icon.png')}
                    |
                    %a{href: "http://www.linkedin.com/in/beardog", target: "_blank"}
                      %img.icon-link{:src => image_path('linkedin-icon.png')}

        %footer
          .container
            .col-md-10.col-md-offset-1.text-center
              %h4
                %a{href: "mailto: passthebuck10@gmail.com?Subject=Contact%20Us"} Contact: passthebuck10@gmail.com
              %h4
                Coded with
                %i.fa.fa-heart.red
                by The PTB Team ....Special Thanks to
                = link_to image_tag("devpointlogo.jpg"), "http://www.devpointlabs.com/", target: '_blank'
