%html
  %head
    %meta{:charset => "UTF-8"}
      %title FAQ
.container
  %h1.heading_h2_mediumblue_underlined_cst
    FAQs
    %br/
    %h5#head-1.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question What is “Pass The Buck”?
    %p#faq-p1.faq-p.radiusAndShadow
      %span.answer-A A.
      Pass the Buck (PTB) is a simple personalized budget solution that allows cool people to manage their personal finances with just a few touch points; and yes and PTB will play on the most popular digital devices.
    %h5#head-2.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question Why can't I use PTB to transfer money?
    %p#faq-p2.faq-p.radiusAndShadow
      %span.answer-A A.
      The payment functionality will soon be under development.
    %h5#head-3.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question How do I invite people?
    %p#faq-p3.faq-p.radiusAndShadow
      %span.answer-A A.
      Users must already be registered. If you want to invite a friend just tell them about PTB.
    %h5#head-4.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question Why can't I split the bill the way I want?
    %p#faq-p4.faq-p.radiusAndShadow
      %span.answer-A A.
      We started with an even split but we are planning on implementing a dynamic split soon.
    %h5#head-5.header-h5.last-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question Why is a personal group created for me when I sign up?
    %p#faq-p5.faq-p.radiusAndShadow.last-faq-p
      %span.answer-A A.
      We wanted an app that allowed you to keep track of your personal budget in the same place that you budget with your friends, roommates, or family. 
