%html
  %head
    %meta{:charset => "UTF-8"}
      %title FAQ
.container
  %h1.heading_h2_mediumblue_underlined_cst
    FAQs 
    %br/
    %h5#head-1.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question What is “Pass The Buck”?
    %p#faq-p1.faq-p.radiusAndShadow
      %span.answer-A A.
      Pass the Buck (PTB) is a simple personalized budget and payment solution that allows cool people to send, request and accept money with just a few touch points; yes and PTB will play on the most popular digital devices. You can pay a friend, relative, almost anyone, instantly.
    %h5#head-2.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question Is PTB safe and secure?
    %p#faq-p2.faq-p.radiusAndShadow
      %span.answer-A A.
      PTB operates with a secure payment portal, meaning that the payment originator and recipient never see each other's bank account information. We have implemented bank-level encryption and two-factor authentication to make sure you always have access to your data and it is never compromised.
    %h5#head-3.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question What is the minimum dollar amount I can send using Pass The Buck?
    %p#faq-p3.faq-p.radiusAndShadow
      %span.answer-A A.
      The minimum payment is $1.00
    %h5#head-4.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question What is the maximum dollar amount I can send using Pass The Buck?
    %p#faq-p4.faq-p.radiusAndShadow
      %span.answer-A A.
      The maximum single transaction amount is $1,000.00 and there is a daily limit of $2,500.00 for total payments.
    %h5#head-5.header-h5.last-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question How do I know when a transaction has been completed?
    %p#faq-p5.faq-p.radiusAndShadow.last-faq-p
      %span.answer-A A.
      You will receive a text message and email message within minutes of the data entry request.
      