%html
  %head
    %meta{:charset => "UTF-8"}
      %title FAQ
.container
  %h1.heading_h2_mediumblue_underlined_cst
    FAQs 
    %br/
    %h5#head-1.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question What is “Pass The Buck”?
    %p#faq-p1.faq-p.radiusAndShadow
      %span.answer-A A.
      Pass the Buck (PTB) is a simple personalized budget solution that allows cool people to manage their personal finances with just a few touch points; and yes and PTB will play on the most popular digital devices. 
    %h5#head-2.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question Why can't I use PTB to transfer money?
    %p#faq-p2.faq-p.radiusAndShadow
      %span.answer-A A.
      The payment functionality will soon be under development.
    %h5#head-3.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question What is the minimum dollar amount I can log into my personal account?
    %p#faq-p3.faq-p.radiusAndShadow
      %span.answer-A A.
      The minimum payment is $1.00
    %h5#head-4.header-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question What is the maximum dollar amount I can enter using Pass The Buck?
    %p#faq-p4.faq-p.radiusAndShadow
      %span.answer-A A.
      The maximum amount is $1,000.00 and there is a daily limit of $2,500.00.
    %h5#head-5.header-h5.last-h5.clear
      %i#collapse-arrow{:class => "fa fa-caret-square-o-right"}
      %span.question-Q Q:
      %span.question How do I know when my last entry has been recorded in my account?
    %p#faq-p5.faq-p.radiusAndShadow.last-faq-p
      %span.answer-A A.
      You will receive a text message and email message within minutes of the data entry request.
      