.container-fluid	
	= react_component('Dashboard', {groups: @groups, upcoming: @upcoming_bills, dashboard: true, currentUser: current_user.id, groupChartData: @group_chart_data, billChartData: @date_array})
