%html
  %head
    %meta{:charset => "UTF-8"}
      %title Pass The Buck 
  %body
    #header
      %h1{:style => "padding:0;margin:0;"} &lt; aboutcher /&gt;;
      Pass The Buck
    #trans1.parallax
    .content
      %h2 Welcome to Pass The Buck 
      %p PTB is the cool new way to share costs among friends and family. It even keeps track of who paid what and when. 
      %p With the PTB personal budget app, you can split living costs with roommates or buy concert tickets and settle up on your portion using the device of your choice.
      %p
        = succeed "" do
          %strong ITS SO EASY.. JUST TOUCH THE SCREEN and SPLIT BILLS with        
        = succeed "" do
          %strong Friends
        and
        = succeed "" do
          %strong Family
      %div{:style => "clear:both;"}
    #trans2.parallax
      .txt.left
        NO MORE AWKWARD MOMENTS
      %div{:style => "clear:both;"}
      .txt.left.sub
        Keep your friends and wallet intact!
        = succeed "" do
          %br/
    #trans3.parallax
      .txt.left
        All for ONE and ONE for ALL
      %div{:style => "clear:both;"}
      .txt.left.sub
        \&middot; A SIMPLE "SHARED" SOLUTION
        %br/
        \&middot; With built-in vault, ledger, and notifications.
    #footer
      %p Thank you to DevPoint Labs .....Copyright 2016 PTB, LLC
   