%html
  %head
    %meta{:charset => "UTF-8"}
      %title Pass The Buck
  %body
    #header
      %h1{:style => "padding:0;margin:0;"} &lt; aboutcher /&gt;;
      Pass The Buck
    #trans1.parallax
    .content
      %br
      %br
      %br
      %h1.text-center Welcome to Pass The Buck
      %h4.text-center PTB is the cool new way to share costs among friends and family. It even keeps track of who paid what and when.
      %h4.text-center With the PTB personal budget app, you can split living costs with roommates or buy concert tickets and settle up on your portion using the device of your choice.
      %h3.text-center
        = succeed "" do
          %strong ITS SO EASY.. JUST TOUCH THE SCREEN and SPLIT BILLS with
        = succeed "" do
          %strong Friends
        and
        = succeed "" do
          %strong Family
      %br
      %br
      %br
      %div{:style => "clear:both;"}

    #trans2.parallax.cont
      .txt.text-center
        All for ONE and ONE for ALL
      %div{:style => "clear:both;"}
      .txt.text-center.sub
        \&middot; A SIMPLE "SHARED" SOLUTION
        %br/
        \&middot; With personal and group budgeting solutions.
    #trans3

    #footer
      %p Thank you to DevPoint Labs .....Copyright 2016 PTB, LLC
