.container-fluid
	=link_to '<< Home', dashboard_path, class:'text-center link1'
	= react_component('GroupDetailed', {group: @group, comments: @comments, bills: @bills, dashboard: false, currentUser: current_user.id})