/*
*= require owl.carousel
*= require owl.theme
*/
@import "bootstrap-sprockets";
@import 'variables';
@import 'shared';
@import "bourbon";
@import 'bills';
@import 'groups';
@import 'dashboard';
@import 'faq';
@import 'comments';
@import 'landing';
@import 'form';
@import 'overides';
@import 'group_detailed';
@import 'navbar';
@import "fontawesome";
@import "bootstrap";
body {
   padding-top: 55px;

  }
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: 0px;
}
#footer{
  // margin-top: 50px;
  height: 50px;
  display: fixed !important;
  bottom: 0;
  background-color: $midnight-blue !important;
  color: $clouds;
}
