body{
	background: #ddd;
	/*margin: 100px;*/
		/*border: 5px solid green;*/

}
*{
	/*border: 1px solid;*/
}

.container-fluid{
	margin-bottom: 30px;
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.containers{
		border: 1px dashed $my-color;
}
.bill-container{	
	/*box-sizing: border-box;*/
	min-height: 120px;
	width:100%;
	border: 4px solid #333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:0 0 10px 0;
	color: $panel-text-color;
	background: $panel-bg-color;
	&:hover{
		color:$panel-text-hover-color;
		background: $panel-bg-hover-color;
	}
}

.bill-container{
	.bill-heading{
		/*border: 1px solid red;*/
		padding: 5px;
		width:100%;
		display: flex;
		justify-content: space-between;
		.title{
			font-size: 24px;
			font-size: calc(120% + 2.0vw);
			.creator{
				font-size: 18px;
				font-size: calc(100% + 1.2vw);		
			}
		}
		.amount-date{
			display: flex;
			flex-direction:column;
			align-items: flex-end;
			justify-content:space-between;
			.amount-due{
				font-size: 24px;
				font-size: calc(100% + 1.0vw)
			}
			.due_date{
				font-size: 18px;
				font-size: calc(100% + .4vw)
			}
			
		}
	}

	.bill-info{
		/*border: 1px solid red;*/
		display: flex;
		justify-content:space-around;
		align-self: flex-end;
		width:100%;
		font-size: 18px;
		font-size: calc(100% + .4vw);
/*		.e {
			flex:1;
		}*/
	}

}
.user-bills{
			display: flex;
		justify-content:space-around;
		align-self: flex-end;

}
	
canvas{
		/*background: #000;*/
		border: 5px solid black;
		width:48%;
		margin: 0 1% 0 1%;
	}

