// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-text{
	font-size: 18px;
	color: #303030;
	padding: 10px 25px 25px 10px;
}
.comments-container{

	
}
.comments-username{
	font-weight: bold;
	font-size: 22px;
	color: black;
}
.comments-textarea{
	width:90%;

}
textarea { 
	font-size: 18px; 
}
.inner-comment-container{
	border: 5px solid $midnight-blue;
	border-radius: 5px;

	height: 50vh;
	overflow: scroll;
}