.dashboard-nav{

	display: flex;
	justify-content: center;
	
	align-items: center;
	height: 50px;
}
.dashboard-link{
	font-size: 20px;
	text-align: center;
	color: $text-color;
	&:hover{
		color: $text-hover-color;
	}
	
	/*border: 2px solid;*/
}
.new-group{
	font-size: 24px;
}
