.actives{
  box-sizing:border-box;
 border-bottom: 3px solid $midnight-blue;

 border-radius: 5px;
}
.dashboard-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
  margin-bottom: 30px;
}
.dashboard-link{
	font-size: 36px;
	text-align: center;
	color: $text-color;
	&:hover{
		color: $green;
	}
  @media(max-width:767px){
    font-size: 20px;
  }
}
.dashboard-nolink{

  font-size: 36px;
  text-align: center;
  color: $text-color;
  @media(max-width:767px){
      font-size: 20px;
  }

}
.new-group{
	font-size: 24px;
}
body { margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;}

#header {
  box-sizing:border-box;-moz-box-sizing:border-box;
  z-index:3;
  position:fixed;
  top:0;
  width:100%;
  background:#F9B802;
  color:#000;
  text-align:center;
  -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  border-bottom:3px solid #000;
}

.parallax {
  position:relative;
  z-index:1;
  height:450px;
  -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
}

#trans1 {
  background: image_url('dacover.jpg') no-repeat bottom left fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#trans2 {
  background: url('splitting-bill-friends.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#trans2 {
  background: image_url('sharing-group-travel.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:550px;
}

.txt {
  font-size:45px;
  color:#000;
  width:50%;
  background:#27AE60;
  background:rgba(39, 173, 96, 0.60);
  padding:5px 10px;
}
.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt.right {
  margin: 150px 100px 0 0;
  float:right;
  text-align:right;
}
.txt.left {
  float:left;
  text-align:left;
  margin: 150px 0 0 100px;
}

.txt.sub {
  background:#000;
  background:rgba(0,0,0,0.60);
  font-size:25px;
  color:#ccc;
}
.content {
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  background:#FFF;
  width:100%;

  margin:0;
  padding:10px 20px;
  -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  text-align:left;
}

.content.right {
  text-align:right;
}

.content h2 { padding:0 25px; }
.content p { padding:0 50px; }

#footer {
  text-align: center;
  padding: 20px 0 20px;
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  background:#FFF;
  width:100%;
  height:auto;
  margin:0;
   -webkit-box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
}
.ptb-logo {
  height:50px;
}
