.form-cont{
	max-width:350px;
	padding: 19px 29px 29px;
  margin: 0 auto 20px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 15px;

}
.omni{
	padding:20px;
	
	background: steelblue;
	
	a{
		font-size: 24px;
		color: white !important;
		text-align: center;
	}
}
.button-box{
	margin-top: 10px;
	margin-bottom: 10px;
}
.close-form{
	font-size: 24px;
	float:right;
}