a:hover, 
.a:hover {
   text-decoration: none !important;
   color: $clouds !important;
}
a{
	padding: 10px;
	color:$text-color !important;
}
.btn-default{
	margin-right: 3px;
	background: red !important;
	font-size: 20px !important;
	background: white !important;
	color:$midnight-blue !important;
	border: 5px solid $green !important;
	border-radius: 20px;
	@media(max-width:767px){
    font-size: 16px !important;
    border: 3px solid $green !important;
  }	


}
.navbar-inverse .navbar-brand {
     color: white !important;
}


.white {
   /* background-color: #FFFF00;*/
    color: $clouds !important;
    &:hover{
    	color:$green !important;
    }
}
.white1{
		padding-top: 15px;

    color: $clouds !important;

}
.link1{
	font-size: 20px;
	color:$text-color;
	text-decoration: underline;
	&:hover{
		color:$green !important;
	}
	@media(max-width:767px){
    font-size: 16px;
  }
}

/*nav bar button*/
.navbar-toggle .collapsed{
	background: white !important;
}
button{

	padding-top-top: 30px;
	background: white !important;
	width:40px;
	height:40px;
}
button	:before { content:'\2630'; }