*{
	box-sizing:border-box;
}
body{

}
.submit-btn{
	width:200px;
	margin: 10px 0 10px 0;
	padding:5px 10px 5px 10px;
	font-size:30px;
	background:white;
	color:$midnight-blue;
	border: 5px solid $green; 
	border-radius: 5px;
	&:hover{
		background: $green;
		color: white
	} 
}