*{
	box-sizing:border-box;
}
body{

}
.submit-btn{
	text-align: center;
	width:220px;
	margin: 10px 0 10px 0;
	padding:5px 10px 5px 10px;
	font-size:28px;
	background:$clouds;
	color:$clouds;
	border: 5px solid $green; 
	border-radius: 5px;
	background: $green;
	&:hover{
		background: $clouds;
		color:$green
	} 
}
.submit-btn-center{
	/*text-decoration: underline;*/
	text-align: center;
	/*border: 1px solid;*/
	color: $green;
	&:hover{
	
		color: $midnight-blue;
	} 

}
alert-box{
	width:200px;
	height:200px;
}
.link{
	cursor:pointer;
}
label{
	font-size: 24px;
}

