$turquiose: #1ABC9C;
$midnight-blue:#2C3E50;
$clouds:#ECF0F1;
$emarld:#2ECC71;
$body-bg: #fff;
$amethyst: #9B59B6;
$carrot:#E67E22;

$green:#27AE60;

$my-color: #945;
$panel-bg-color: $emarld;
$panel-text-color: $midnight-blue;
$panel-border-color: $midnight-blue;
$panel-bg-hover-color:  $green;
$panel-text-hover-color: #8E44AD;
$panel-border-hover-color: $panel-text-hover-color;
$text-color: $midnight-blue;
$text-hover-color: #9BD7D5;