
$body-bg: #444; 
$my-color: #945;
$panel-bg-color: #222;
$panel-text-color: teal;
$panel-border-color: $panel-text-color;
$panel-bg-hover-color:  teal;
$panel-text-hover-color: #222;
$panel-border-hover-color: $panel-text-hover-color;
$text-color: teal;
$text-hover-color: #ddd;