
$body-bg: #FcFFF0; 
$my-color: #945;
$panel-bg-color: #9BD7D5;
$panel-text-color: #505050;
$panel-border-color: $panel-text-color;
$panel-bg-hover-color:  #505050;
$panel-text-hover-color: #9BD7D5;
$panel-border-hover-color: $panel-text-hover-color;
$text-color: teal;
$text-hover-color: #9BD7D5;